#section1{
    background-image: url("https://th.bing.com/th?id=OIP.TcKcJxYlICMIom7ZbR2WLQHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
}
#section2{
    background-image: url("https://th.bing.com/th?q=Movie+Theater+Background&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IE&cc=IE&setlang=en&adlt=moderate&t=1&mw=247");    
}
#section3{
    background-image: url("https://th.bing.com/th/id/OIP.rXCz8RXHdZ1IF3ibBoA9kAHaEK?w=256&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
}
#section4{
    background-image: url("https://th.bing.com/th/id/R.c72460cd51459d7fa3e56a9665d3584d?rik=%2bbumNlE7pDtTbQ&pid=ImgRaw&r=0");
}